.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

ul {
  list-style-type: none;
}


#welcome {
  font-family: 'Alkatra', cursive;
  text-align: center;
  font-size:50px;
  margin-top: 1cm;
}
#welcome_2 {
  font-family: 'Alkatra', cursive;
  text-align: center;
  font-size:30px;
  margin-top: 1cm;
  margin-bottom: 1cm;
}

#account {
  margin-top: 2cm;
  margin-bottom: 1cm;
  margin-left: 0.5cm;
  font-size: 30px;
}

.logreg {
  text-align: right;
  margin-right: 20px;
  font-size: 18px;
}
